@using EntityLayer.Concrete
@model dynamic

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_TopNavbar.cshtml";
    int postCount = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="Teknoloji konularını barındıran paylaşım ve haber forumu">
    <meta name="keywords" content="teknoloji, forum, yazılım, post, haber, soru, cevap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paylaşımlar</title>
    <style>
        .container-fluid li {
            height: 50px;
            border-color: gray;
            border-radius: 5px 5px 5px 5px;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            background-color: #007bff;
            margin-bottom: 5px;
        }

            .container-fluid li a {
                text-decoration: none;
                color: white;
            }

        aside {
            padding-left: 15px;
            margin-left: 15px;
            float: left;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <aside>
        <div class="d-flex justify-content-start d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="container-fluid">
                <ul style="list-style-type: none; width:300px;">
                    <li style="height:25px;"><strong>Kategori filtreleme:</strong></li>
                    <li><a href="/Home/Posts">Tümünü görüntüle</a></li>
                    <li><a href="/Home/CategoryFilter/?filter=1">Donanım</a></li>
                    <li><a href="/Home/CategoryFilter/?filter=2">Mobil</a></li>
                    <li><a href="/Home/CategoryFilter/?filter=3">Web</a></li>
                    <li><a href="/Home/CategoryFilter/?filter=4">Yazılım</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="container">
        <form class="form-control col-md-8 mx-auto" method="post">
            <div class="form-group">
                <label for="post"><strong>Yeni konu oluştur:</strong></label>
                <input type="text" class="form-control" id="post" name="PostTitle" placeholder="Konu başlığını giriniz">
            </div>
            <div class="form-group">
                <textarea rows="3" cols="10" type="text" class="form-control" id="post-text" name="PostText" placeholder="Paylaşımınız..."></textarea>
            </div>
            <div class="form-group">
                <label for="category">Bir kategori seçiniz:</label>
                <select name="CategoryID" id="category">
                    <option value="1">Donanım</option>
                    <option value="2">Mobil</option>
                    <option value="3">Web</option>
                    <option value="4">Yazılım</option>
                </select>
                <select hidden name="UserID">
                    <option value="@Session["UserID"]">@Session["UserName"]</option>
                </select>
                <select hidden name="NickName">
                    <option value="@Session["NickName"]">@Session["UserName"]</option>
                </select>
                <input hidden type="text" id="pc-date" name="PostCreationDate">
            </div>
            @if (Convert.ToInt32(Session["UserID"]) == 0)
            {
                <label style="color: red;">Paylaşım yapabilmek için lütfen giriş yapınız...</label>
            }
            else
            {
                <button class="btn btn-success">Paylaş</button>
            }
        </form>
        <br />
        <h3 style="text-align:center;">Paylaşımlar</h3>
        @foreach (Post item in Model.postItems)
        {
            if (item.PostTitle == null || item.PostText == null)
            {
                <!--PostTitle veya PostText boş ise herhangi bir veri görüntülemesi yok-->
            }
            else
            {
                <div class="card w-75 mx-auto">
                    <div class="card-body">
                        @if (Convert.ToString(Session["UserName"]) == "Admin")
                        {
                            <a href="/Home/DeletePost/@item.PostID" class="btn btn-danger" style="float:right; font-size:small;">Paylaşımı Kaldır</a>
                        }
                        <p class="card-text">@item.PostTitle</p>
                        <hr />
                        <p class="card-text">@item.PostText</p>
                        <h6 class="card-title" style="color: #ff6600; font-size: small; text-align: right;">Konu sahibi: @item.NickName</h6>
                        <h6 class="card-title" style="color: #ff6600; font-size: small; text-align: right;">Kullanıcı ID'si: @item.UserID</h6>
                        <h6 class="card-text" style="font-size:small; text-align:right;">Post oluşturulma tarihi: @item.PostCreationDate</h6>
                        <h6 class="card-text text-primary" style="font-size: small; text-align: right;">
                            Kategori:
                            @if (item.CategoryID == 1)
                            {<span>Donanım</span>}
                            else if (item.CategoryID == 2)
                            {<span>Mobil</span>}
                            else if (item.CategoryID == 3)
                            {<span>Web</span>}
                            else if (item.CategoryID == 4)
                            {<span>Yazılım</span>}
                            else
                            {<span>Error</span>}
                        </h6>
                        @if (item.UserID == Convert.ToInt32(Session["UserID"]))
                        {
                            postCount = postCount + 1;
                            Session["PostCount"] = postCount;
                        }
                    </div>
                </div>
            }

            <!--vote işlemi-->
            <div class="row">
                <div class="col-sm-1 grid-margin" style="padding-top:22px; margin-right:30px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Beğenenler
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            @foreach (Vote item3 in Model.voteItems)
                            {
                                if (item.PostID == item3.PostID)
                                {
                                    <h6 class="dropdown-item" style="font-size:small; text-align:left;">@item3.NickName bunu beğendi.</h6>
                                    if (Convert.ToString(Session["UserName"]) == "Admin")
                                    {
                                        <a href="/Home/DeleteVote/@item3.VoteID" class="btn btn-danger" style="font-size: small; margin-left:38px;">Beğeniyi kaldır</a>
                                    }
                                }
                                else
                                {
                                    <!--herhangi bir veri görüntülemesi yok-->
                                }
                            }
                        </div>
                    </div>
                </div>
                @if (Convert.ToInt32(Session["UserID"]) == 0)
                {
                    <!--buton kapalı-->
                }
                else
                {
                    <div class="col-sm-2 grid-margin">
                        <form class="form-control" method="post" style="border:none; background-color:transparent;">
                            <div class="form-group">
                                <select hidden name="UserID">
                                    <option value="@Session["UserID"]">@Session["UserName"]</option>
                                </select>
                                <select hidden name="NickName">
                                    <option value="@Session["NickName"]">@Session["UserName"]</option>
                                </select>
                                <select hidden name="PostID">
                                    <option value="@item.PostID">@Session["UserName"]</option>
                                </select>
                                <select hidden name="VoteCount">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning">Beğen</button>
                        </form>
                    </div>
                }
            </div>


            foreach (Comment item2 in Model.commentItems)
            {
                if (item.PostID == item2.PostID)
                {
                    <div class="card w-50 mx-auto">
                        <div class="card-body">
                            @if (Convert.ToString(Session["UserName"]) == "Admin")
                            {
                                <a href="/Home/DeleteComment/@item2.CommentID" class="btn btn-danger" style="float:right; font-size:small;">Yorumu Kaldır</a>
                            }
                            <p class="card-text">@item2.CommentText</p>
                            <h6 class="card-title" style="color: #ff6600; font-size: small; text-align: right;">Konu sahibi: @item2.NickName</h6>
                            <h6 class="card-title" style="color: #ff6600; font-size: small; text-align: right;">Kullanıcı ID'si: @item2.UserID</h6>
                            <h6 class="card-text" style="font-size:small; text-align:right;">Yorum oluşturulma tarihi: @item2.CommentCreationDate</h6>
                        </div>
                    </div>
                }
                else
                {
                    <!--herhangi bir veri görüntülemesi yok-->
                }

            }
            <hr style="width:75%;" />
            <form class="form-control col-md-8 mx-auto" method="post">
                <div class="form-group">
                    <select hidden name="UserID">
                        <option value="@Session["UserID"]">@Session["UserName"]</option>
                    </select>
                    <select hidden name="NickName">
                        <option value="@Session["NickName"]">@Session["UserName"]</option>
                    </select>
                    <select hidden name="PostID">
                        <option value="@item.PostID">@Session["UserName"]</option> <!--Her yorum için PostID eşleştirmesi-->
                    </select>
                    <select hidden name="CategoryID">
                        <option value="@item.CategoryID">@Session["UserName"]</option> <!--Her yorum için CategoryID eşleştirmesi-->
                    </select>
                    <input hidden type="text" class="cc-date" name="CommentCreationDate">
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        <input type="text" class="form-control" id="comment" name="CommentText" placeholder="Yanıtla...">
                    </div>
                    @if (Convert.ToInt32(Session["UserID"]) == 0)
                    {
                        <div class="col-3">
                            <label style="color: red;">Yorum yapabilmek için lütfen giriş yapınız...</label>
                        </div>
                    }
                    else
                    {
                        <div class="col-3">
                            <button type="submit" class="btn btn-success">Yorum Yap</button>
                        </div>
                    }
                </div>
            </form>
            <hr style="border: 2px solid #0066CC;" />
            <hr style="border: 2px solid #0066CC;" />
        }

    </div>
    <script>
        let PostCreationDate = new Date().toLocaleString();
        document.getElementById("pc-date").value = PostCreationDate;
        let CommentCreationDate = new Date().toLocaleString();
        var x = document.querySelectorAll(".cc-date");
        var i;
        for (i = 0; i < x.length; i++) {

            x[i].value = CommentCreationDate;

        }
    </script>
</body>
</html>

